
{deps, [
    %% TODO: tighten the version match up
    {rebar_alt_deps, ".*",
        {git, "git://github.com/hyperthunk/rebar_alt_deps.git"}},
    {rebar_plugin_manager, ".*",
        {git, "git://github.com/hyperthunk/rebar_plugin_manager.git"}}
]}.

%% git://github.com/hyperthunk/rebar_plugin_manager.git
