
{deps, [
    {rebar_phase_plugin, ".*",
        {git, "../../../", "master"}},
    {rebar_skip_deps, ".*",
        {git, "git://github.com/hyperthunk/rebar_skip_deps.git"}}
]}.

{skip_dep_cmds, ['integration-test', eunit, qc, ct]}.

{phases, [
    {test, ['check-deps', compile], [eunit]},
    {'integration-test', test, [ct]}
]}.

{plugins, [rebar_plugin_manager, rebar_phase_plugin, rebar_skip_deps]}.
{plugin_dir, "deps/rebar_plugin_manager/src"}.
