
{deps, [
    {rebar_phase_plugin, ".*",
        {git, "../../../", "master"}},
    {rebar_skip_deps, ".*",
        {git, "git://github.com/hyperthunk/rebar_skip_deps.git"}}
]}.

{skip_dep_cmds, ['integration-test']}.

{phases, [
    {test, ['check-deps', compile], [eunit, qc]},
    {'integration-test', test, [ct]} %, retest]}.
]}.

{plugins, [rebar_cmd_builder, rebar_phase_plugin, rebar_skip_deps]}.
{plugin_dir, "deps/rebar_cmd_builder/src"}.
